.createPostBtn{
    position: fixed !important;
    z-index: 5;
    margin: inherit;
    padding: inherit;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

.noPosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px - 3rem);
}