.profilePic{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
}
.picOptions{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.profilePic:hover .picOptions{
    z-index: 1;
}

.leftCard{
    border-radius: 20px;
}

.imgRow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.userDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 20px;
}
.atomicDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.atomicDetail small{
    cursor: pointer;
}
.atomicDetail small:hover{
    color: rgb(24, 116, 255);
    text-decoration: underline;
}
.followBtn{
    width: 70%;
}

.rightCard{
    border-radius: 20px;
}


.detailInput{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px ;
}

.saveBtn{
    margin: 20px auto 0px auto;
    display: block;
}

.follwrContnr{
    display: flex;
    align-items: center;
}

.follwrsRow:last-child hr{
    margin-bottom: 0;
}

.follwrInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 10px;
}

.follwrInfo p{
    margin-bottom: 1px;
}
