.commentsCol{
    height: 500px;
    overflow-y: auto;
}
.allComments:last-child hr{
    margin-bottom: -1px;
}
.commentArea{
    display: flex;
    align-items: center;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    margin-bottom: 10px;
}
.noComments{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 370px;
}

.commentInput{
    border: hidden;
    outline: none;
    margin-left: 10px;
    width: 100%;
}

.commentInfo{
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid gray; */
}
.commentInfo div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

