.postCard{
    width:100%;
}
.postImg{
    /* aspect-ratio: 1/1; */
    object-fit: contain;
    max-height: 500px;
}
.postDescrption{
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 19px;
    margin: 0;
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.headerInfo{
    margin-left: 25px;
}
.headerInfo h6{
    margin-bottom: 0;
}
.postInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.share{
    margin-left: auto;
}
.iconButton{
    padding: 0 !important;
}
