.fileUpload{
    border: 3px dashed orangered;
    /* width: 400px;
    height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
}