.createPostBtn{
    position: fixed !important;
    z-index: 5;
    margin: inherit;
    padding: inherit;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

.noPosts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px - 3rem);
}

.eachCol{
    column-count: 2;
}
.eachCol > div {
    margin: 10px 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.eachCol > div:first-child { margin-top: 0px; }

@media screen and (max-width : 991px) {
    .eachCol{
        column-count: 1;
    }
}